table,td {
  border: 1px solid white;
  border-collapse: collapse;
   padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
  width: 30px;
  height:40px;
}
table ,td {
  background-color: #96D4D4;
}
